.deskripsi_wisata {
    margin: 20px 3%;
}

.gambar-utama {
    width: 100%;
    min-height: 400px;
    max-height: 500px;
}

.container-fluid {
    padding: 0px 0px;
}

.list-img {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    gap: 5px;
}

.list-img img {
    width: 100%;
}