footer {
    background-color: #019BD8;
    color: white;
    padding: 20px 0px;
}

footer img {
    width: auto;
}

.footer-title {
    text-align: center;
}

.footer-deskripsi {
    padding-top: 10px;
}